self_study/programming/languages/rust/rust_lang_book/1_getting_started/main
self_study/programming/languages/rust/rust_lang_book/1_getting_started/test_cargo/target
self_study/programming/languages/rust/rust_lang_book/2_Programming_a_Guessing_Game/guessing_game/target
self_study/programming/languages/rust/rust_lang_book/3_Common_Programming_Concepts/variables/target
