self_study/programming/languages/rust/rust_lang_book/1_getting_started/main
self_study/programming/languages/rust/rust_lang_book/1_getting_started/test_cargo/target
self_study/programming/languages/rust/rust_lang_book/2_Programming_a_Guessing_Game/guessing_game/target
self_study/programming/languages/rust/rust_lang_book/3_Common_Programming_Concepts/variables/target
self_study/programming/languages/rust/rust_lang_book/3_Common_Programming_Concepts/functions/target
self_study/programming/languages/rust/rust_lang_book/3_Common_Programming_Concepts/branches/target
self_study/programming/languages/rust/rust_lang_book/4_Understanding_Ownership/ownership/target
self_study/programming/languages/rust/rust_lang_book/5_Structs/struct_examples/target
self_study/programming/languages/rust/rust_lang_book/5_Structs/example_program/target
self_study/programming/languages/rust/rust_lang_book/5_Structs/debugging_structs/target
self_study/programming/languages/rust/rust_lang_book/5_Structs/method_example/target
self_study/programming/languages/rust/rust_lang_book/6_enums_and_pattern_matching/enums_example/target
